In [73]:
import numpy as np 
import pandas as pd

In [74]:
pd.set_option("display.max_rows", None)

## Question 1 What's the version of NumPy that you installed?

In [27]:
print(np.__version__)

1.23.1

## Question 2 How many records are in the dataset?

In [28]:
df = pd.read_csv("data.csv")
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [24]:
df.Model.describe()

count              11914
unique               915
top       Silverado 1500
freq                 156
Name: Model, dtype: object

## Question 3 Who are the most frequent car manufacturers (top-3) according to the dataset?

In [15]:
df['Make'].value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

In [32]:
df['Make'].nunique()

48

In [33]:
df.Make.describe()

count         11914
unique           48
top       Chevrolet
freq           1123
Name: Make, dtype: object

## Question 4 What's the number of unique Audi car models in the dataset?

In [54]:
df.loc[df["Make"] == "Audi", "Model"].nunique()

34

## Question 5: How many columns in the dataset have missing values?

In [55]:
df.isnull().any(axis = 0).sum()

5

## Question 6  
Find the median value of "Engine Cylinders" column in the dataset.

In [63]:
df["Engine Cylinders"].median()

6.0

Next, calculate the most frequent value of the same "Engine Cylinders".

In [64]:
df["Engine Cylinders"].mode()

0    4.0
Name: Engine Cylinders, dtype: float64

Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.

In [65]:
df["Engine Cylinders"].fillna(df["Engine Cylinders"].mode()[0],inplace = True)

Now, calculate the median value of "Engine Cylinders" once again.

In [66]:
df["Engine Cylinders"].median()

6.0

## Question 7
* Select all the "Lotus" cars from the dataset.
* Select only columns "Engine HP", "Engine Cylinders".
* Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
* Get the underlying NumPy array. Let's call it X.
* Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
* Invert XTX.
* Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
* Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
* What's the value of the first element of w?

In [85]:
lotus = df.loc[df["Make"]=="Lotus", ["Engine HP", "Engine Cylinders"]].drop_duplicates()

In [86]:
lotus.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 3912 to 4293
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Engine HP         9 non-null      float64
 1   Engine Cylinders  9 non-null      float64
dtypes: float64(2)
memory usage: 216.0 bytes

In [87]:
X = np.array(lotus)

In [88]:
XTX = np.dot(X.T,X)

In [90]:
XTX

array([[7.31684e+05, 1.34100e+04],
       [1.34100e+04, 2.52000e+02]])

In [89]:
Xinv = np.linalg.inv(XTX)

In [91]:
Xinv

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [93]:
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [94]:
w = np.dot(np.dot(Xinv, X.T),y)

In [96]:
print(f"{w[0]:.4f}")

4.5949